<tr>
   <th
      scope="col"
   >{day}</th>
   <td
      class="timetable-slot{A0830AM}"
      scope="col"
      tabindex="0"
   >{S0830AM}</td>
   <td
      class="timetable-slot{A1005AM}"
      scope="col"
      tabindex="0"
   >{S1005AM}</td>
   <td
      class="timetable-slot{A1140AM}"
      scope="col"
      tabindex="0"
   >{S1140AM}</td>
   <td
      class="timetable-slot{A0115PM}"
      scope="col"
      tabindex="0"
   >{S0115PM}</td>
   <td
      class="timetable-slot{A0250PM}"
      scope="col"
      tabindex="0"
   >{S0250PM}</td>
   <td
      class="timetable-slot{A0425PM}"
      scope="col"
      tabindex="0"
   >{S0425PM}</td>
   <td
      class="timetable-slot{A0600PM}"
      scope="col"
      tabindex="0"
   >{S0600PM}</td>
</tr>
