<table
   class="table table-responsive table-bordered timetable-table"
>
   <caption>
      {caption}
   </caption>
   <thead>
      <tr>
         <th
            scope="col"
         >DAY/TIME</th>
         <th
            scope="col"
         >08:30 AM - 10:00 AM</th>
         <th
            scope="col"
         >10:05 AM - 11:35 AM</th>
         <th
            scope="col"
         >11:40 AM - 01:10 PM</th>
         <th
            scope="col"
         >01:15 PM - 02:45 PM</th>
         <th
            scope="col"
         >02:50 PM - 04:20 PM</th>
         <th
            scope="col"
         >04:25 PM - 05:55 PM</th>
         <th
            scope="col"
         >06:00 PM - 07:30 PM</th>
      </tr>
   </thead>
   <tbody>
      {rows}
   </tbody>
</table>
