<div
   class="row justify-content-evenly debug-queues-slab
      debug-queues-slab-index-{queueindex} {slabaddonclasses}"
>
   <div
      class="col-5 row container justify-content-evenly debug-queue-row
         debug-queue-row-1"
   >
      <div
         class="col-2 debug-queue-slot debug-queue-slot-1"
      >
      </div>
      <div
         class="col-2 debug-queue-slot debug-queue-slot-2"
      >
      </div>
      <div
         class="col-2 debug-queue-slot debug-queue-slot-3"
      >
      </div>
      <div
         class="col-2 debug-queue-slot debug-queue-slot-4"
      >
      </div>
      <div
         class="col-2 debug-queue-slot debug-queue-slot-5"
      >
      </div>
      <div
         class="col-2 debug-queue-slot debug-queue-slot-6"
      >
      </div>
      <div
         class="col-2 debug-queue-slot debug-queue-slot-7"
      >
      </div>
      <div
         class="col-2 debug-queue-slot debug-queue-slot-8"
      >
      </div>
   </div>
   <div
      class="col-5 row container justify-content-evenly debug-queue-row
         debug-queue-row-2"
   >
      <div
         class="col-2 debug-queue-slot debug-queue-slot-1"
      >
      </div>
      <div
         class="col-2 debug-queue-slot debug-queue-slot-2"
      >
      </div>
      <div
         class="col-2 debug-queue-slot debug-queue-slot-3"
      >
      </div>
      <div
         class="col-2 debug-queue-slot debug-queue-slot-4"
      >
      </div>
      <div
         class="col-2 debug-queue-slot debug-queue-slot-5"
      >
      </div>
      <div
         class="col-2 debug-queue-slot debug-queue-slot-6"
      >
      </div>
      <div
         class="col-2 debug-queue-slot debug-queue-slot-7"
      >
      </div>
      <div
         class="col-2 debug-queue-slot debug-queue-slot-8"
      >
      </div>
   </div>
</div>
