<div
   class="col"
>
   <div
      class="card text-start btn btn-outline-light border-secondary
         content-card-item {itemaddonclasses}"
      tabindex="0"
   >
      <div
         class="card-header bg-transparent border-secondary
            content-card-item-header {headeraddonclasses}"
      >
         {headerbody}
      </div>
      <div
         class="card-body bg-transparent"
      >
         <div
            class="card-text container content-card-item-body
               {bodyaddonclasses}"
         >
            {mainbody}
         </div>
      </div>
      <div
         class="card-footer bg-transparent border-secondary
            content-card-item-footer {footeraddonclasses}"
      >
         {footerbody}
      </div>
   </div>
</div>
